@charset "UTF-8";

@media screen and (min-width: 769px) and (max-width: 1024px) {
    body {
        background-image: linear-gradient(to bottom, #2C3168, #6C9FFA);
    }

    section#login {
        width: 80vw;
    }

    div#imagem {
        float: left;
        height: 100%;
        width: 30%;
    }

    div#formulario {
        float: right;
        width: 70%;
    }
}


@media screen and (min-width: 1024px) {
    body {background-image: linear-gradient(to bottom, #2C3168, #6C9FFA);
    }
    
    section#login {
        width: 990px;
    }

    div#imagem {
        float: left;
        height: 100%;
        width: 50%;
    }

    div#formulario {
        float: right;
        width: 50%;
    }
}