@charset "UTF-8";

@media screen and (min-width: 769px) and (max-width: 1024px) {
    body {
        background-image: linear-gradient(to bottom, #2C3168, #6C9FFA);
    }

    section#login {
        width: 80vw;
        height: 300px;
    }

    div#imagem {
        float: left;
        height: 100%;
        width: 30%;
    }

    div#formulario {
        float: right;
        width: 70%;
    }

    div#formulario p {
    padding-bottom: 5px;
    }

}


@media screen and (min-width: 1024px) {
    body {background-image: linear-gradient(to bottom, #2C3168, #6C9FFA);
    }

    section#login {
        width: 990px;
        height: 350px;
    }

    div#imagem {
        float: left;
        height: 100%;
        width: 50%;
    }

    div#formulario {
        float: right;
        width: 50%;
    }

    div#formulario h1 {
   font-size: 2em;
    }

    div#formulario p {
    font-size: 1em;
    padding-bottom: 5px;
    }

}